.sidebar-container {
    -fx-background-color: #6c63ff;
    -fx-padding: 10;
    -fx-spacing: 20;
}

.logo-container {
    -fx-alignment: center;
    -fx-padding: 25px;
}

.nav-container {
    -fx-spacing: 10px;
}

.btn {
    -fx-pref-width: infinity;
    -fx-font-size: 24px;
    -fx-font-family: Raleway-Bold;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-graphic: url("../../images/circle.png");
    -fx-padding: 10px 20px;
    -fx-background-color: #5544FF;
    -fx-background-radius: 30px;
    -fx-text-fill: #f2f2f2;
    -fx-graphic-text-gap: 10;
}

.footer-btn {
    -fx-background-color: none;
}