.BorderStyle{
    -fx-padding: 30px;
    -fx-max-width: infinity;
    -fx-background-color: white;
}
.topLabel{
    -fx-padding: 0px 0px 30px 0px;
    -fx-font-size: 28;
}
.otherbtn
{
    -fx-pref-height: 20;
    -fx-pref-width: 75;
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 20;
}
.mainbtn{
    -fx-background-color: #6C63FF;
    -fx-text-fill: white;
}
DatePicker
{
    -fx-background-color: white;
    /*-fx-pref-height: 20px;*/
}
.lblSupp{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.choiceBoxStyle
{
    -fx-border-color: black;
    -fx-background-color: none;
}