VBox, HBox {
    -fx-background-color: #fff;
}
.topLabel{
    -fx-padding: 0px 0px 30px 0px;
    -fx-font-size: 28;
}

.main-container {
    -fx-padding: 25px;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-background-color: transparent;
}

.sub-container {
    -fx-spacing: 25px;
    -fx-background-color: #fff;
}

.search-container {
    -fx-spacing: 25px;
}

.search-criteria {
    -fx-border-color: #333;
    -fx-border-radius: 10px;
}

.form-group {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}

ChoiceBox  {
    -fx-font-size: 20;
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-background-color: none;
    -fx-pref-height: 40;
}

.label {
    -fx-font-size: 18px;
}

.btn {
    -fx-padding: 10px 20px;
    -fx-max-width: infinity;
    -fx-background-color: #6c63ff;
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-weight: bold;
    -fx-font-family: Raleway-Bold;
}

DatePicker {
    -fx-background-color: #fff;
}

DatePicker .arrow-button {
    -fx-background-color: #fff;
    -fx-font-size: 24px;
}

.teeth-btn {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-color: #fff;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 1px;
    -fx-border-color: #333;
}

.titled-border {
    -fx-border-radius: 10px;
}

.selected {
    -fx-background-color: #6c63ff;
    -fx-text-fill: #fff;
    -fx-border-color: #6c63ff;
}