.lblSupp{
    -fx-font-size: 20;
}
.header-container {
    -fx-padding: 0px 0px 30px 0px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #333;
}
.otherbtn
{
    -fx-pref-height: 40;
    -fx-pref-width: 130;
    -fx-background-radius: 20;
    -fx-font-size: 20;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 20;
}
.mainbtn{
    -fx-background-color: #6C63FF;
    -fx-text-fill: white;
}
.bodyClass
{
    -fx-background-color: white;
}